<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.theappexperts.supergit">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
            android:name="com.theappexperts.supergit.App"
        android:icon="@drawable/ic_github_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_github_launcher"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.theappexperts.supergit.ui.main.HomeActivity"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>